<div class="background fixed" id="landing_background">
  <div class="container">
    <div class="container flex main">
      <div class="sign_in">

        <h1>New User Information</h1>

        <img src="<%= @current_user.avatar_link %>" >
        <form action="/users/<%= @current_user.id %>" method="post">
          <input class="form-control" type="hidden" value="put" name="_method">
          <label for="username">Username:</label>
          <input class="form-control" type="text" value="<%= @current_user.username %>" name="username">
          <label for="first_name">First Name:</label>
          <input class="form-control" type="text" value="<%= @current_user.first_name %>" name="first_name">
          <label for="last_name">Last Name:</label>
          <input class="form-control" type="text" value="<%= @current_user.last_name %>" name="last_name">
          <label for="email">Email Address:</label>
          <input class="form-control" type="text" placeholder="your@email.here" name="email">

          <label for="password">Password:</label>
          <input class="form-control" type="password" name="email">

          <input class="form-control" type="submit" value="Create Profile">
        </form>
      </div>
    </div>
  </div>
</div>
